<h3>As entidades e relações do sistema são:</h3>
<ul>
    <li>Cliente 1:1 Endereço | Cliente possui um endereço, endereço pertence a um cliente</li>
    <li>Cliente 1:N Pedido | Cliente possui vários pedidos, pedido pertence a um cliente</li>
    <li>Pedido N:N Produto | Pedido contém vários produtos, um produto pode pertencer a vários pedidos</li>
</ul>
    
<%= link_to 'Clientes', clientes_path %><br>
<%= link_to 'Endereços', enderecos_path %><br>
<%= link_to 'Produtos', produtos_path %><br>
<%= link_to 'Pedidos', pedidos_path %><br>
